
#menu {
    border: 1px solid black;
    padding: 0px;
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
    background-color: rgb(190,190,190);

}

#menu li {
    display: inline;
}

#header {
    text-align: center;
    background-color: white;
}

#pictures {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#pictures img {
    width: 90%;
    margin: 10px;
}

/* 그리드 안될 때

#pictures img{
    width: 20%;
}

#picture1, #picture2, #picture3, #picture4 {
    float: left;
    margin-right: 30px;
} */

/* 2,3 margin top 16, 21 */

#footer {
    border-top: 1px solid gray;
    text-align: center;
    position: fixed;
    top: 90%;
    width: 99%;
    color: gray;
    line-height: 5px;
    opacity: 60%;
}

#links{
    clear: both;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#link a:active {
    color: purple;
}

#GunDae {
    position: relative;
    display: inline;
    border-bottom: 1px dotted black;
  }
  
/* 텍스트 위에 마우스 올리면 visible */
  
#GunDae #IpDae {
    width: 400px;
    background-color: gray;
    color: white;
    text-align: center;
    padding: 3px;
    position: absolute;
    z-index: 1;
    visibility: hidden;
}
  
#GunDae:hover #IpDae {
    visibility: visible;
}

/* 모바일 */

@media (max-width: 540px) {
    #header {
        font-size: 10px;
    }

    #menu ul {
        margin-right: 20px;
    }

    #links {
        text-align: left;
        font-size: 14px;
        display: block;
    }

    #pictures img {
        display: none;
    }

    #footer {
        font-size: 14px;
    }
}

