#menu {
    border: 1px solid black;
    padding: 0px;
    width: 100%;
    margin: 0px;
    text-align: center;
    background-color: rgb(140,140,140);

}
#menu li {
    display: inline;
}
#header {
    text-align: center;
    background-color: white;
}

#main {
    height: 100%;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

#Wadizit {
    padding-top: 30px;
    border-left: 1px solid rgb(21, 41, 133);
    padding-left: 30px;
    padding-right: 30px;
    height: 100%;

}

#footer {
    border-top: 1px solid gray;
    text-align: center;
    position: fixed;
    top: 90%;
    width: 99%;
    color: gray;
    line-height: 5px;
    opacity: 60%;
}

#grid {
    display: grid;
    position: fixed;
    top: 30%;
    grid-template-columns: 40% 1fr;
}

table {
    width: 100%;
    background-color: #ffffff;
}

img {
    max-width: 100%;
    height: auto;
}

#menu a {
    text-decoration: none;
}

@media (max-width: 540px) {
    #grid {
        display: block;
    }
    #Wadizit {
        border-left: 0px;
    }
    #footer {
        display: none;
        
    }
}

.Page:active {
    color: purple;
}

.Page:hover {
    color: #33B5E5;
}